In [57]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import hvplot.pandas
import panel as pn
import plotly.express as px
import plotly.graph_objects as go
from pathlib import Path
import quandl
import datetime
import seaborn as sns
import pandas_datareader as pdr
from datapackage import Package
import csv

In [8]:
#Pull data over the last 5 years (1/2014-9/2019) from Yahoo using pandas_datareader
start_sp = datetime.datetime(2014,1,1)
end_sp = datetime.datetime(2019,12,1)
USAG = pdr.get_data_yahoo('USAG',
                          start_sp,
                            end_sp)

In [16]:
USAG.head(25)

                 High        Low       Open      Close  Volume  Adj Close
Date
2014-01-02  22.350000  22.350000  22.350000  22.350000       0  22.350000
2014-01-03  22.250000  22.250000  22.250000  22.250000    1500  22.250000
2014-01-06  22.250000  22.250000  22.250000  22.250000       0  22.250000
2014-01-07  22.250000  22.250000  22.250000  22.250000       0  22.250000
2014-01-08  22.250000  22.250000  22.250000  22.250000       0  22.250000
2014-01-09  22.250000  22.250000  22.250000  22.250000       0  22.250000
2014-01-10  22.070000  22.070000  22.070000  22.070000    1000  22.070000
2014-01-13  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-14  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-15  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-16  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-17  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-21  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-22  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-23  22.070000  22.070000  22.070000  22.070000       0  22.070000
2014-01-24  22.370001  22.290001  22.370001  22.290001    2500  22.290001
2014-01-27  22.290001  22.290001  22.290001  22.290001       0  22.290001
2014-01-28  22.290001  22.290001  22.290001  22.290001       0  22.290001
2014-01-29  22.290001  22.290001  22.290001  22.290001       0  22.290001
2014-01-30  22.290001  22.290001  22.290001  22.290001       0  22.290001
2014-01-31  22.290001  22.290001  22.290001  22.290001       0  22.290001
2014-02-03  22.290001  22.290001  22.290001  22.290001       0  22.290001
2014-02-04  22.290001  22.290001  22.290001  22.290001       0  22.290001
2014-02-05  22.910000  22.299999  22.299999  22.910000     500  22.910000
2014-02-06  23.110001  22.920000  23.110001  22.920000     400  22.920000

In [17]:
package = Package('https://datahub.io/core/gdp-us/datapackage.json')

In [42]:
#package.__dict__
package

In [47]:
resource_list = []
for resource in package.resources: 
    if resource.descriptor['datahub']['type'] == 'derived/csv':
        resource_list.append(resource.read())

In [49]:
resource_list[0]

[[1930, Decimal('92.2'), Decimal('966.7'), Decimal('-16.0'), Decimal('-6.4')],
 [1931, Decimal('77.4'), Decimal('904.8'), Decimal('-23.1'), Decimal('-12.9')],
 [1932, Decimal('59.5'), Decimal('788.2'), Decimal('-4.0'), Decimal('-1.3')],
 [1933, Decimal('57.2'), Decimal('778.3'), Decimal('16.9'), Decimal('10.8')],
 [1934, Decimal('66.8'), Decimal('862.2'), Decimal('11.1'), Decimal('8.9')],
 [1935, Decimal('74.3'), Decimal('939.0'), Decimal('14.3'), Decimal('12.9')],
 [1936, Decimal('84.9'), Decimal('1060.5'), Decimal('9.6'), Decimal('5.1')],
 [1937, Decimal('93.0'), Decimal('1114.6'), Decimal('-6.1'), Decimal('-3.3')],
 [1938, Decimal('87.4'), Decimal('1077.7'), Decimal('7.0'), Decimal('8.0')],
 [1939, Decimal('93.5'), Decimal('1163.6'), Decimal('10.1'), Decimal('8.8')],
 [1940, Decimal('102.9'), Decimal('1266.1'), Decimal('25.7'), Decimal('17.7')],
 [1941, Decimal('129.4'), Decimal('1490.3'), Decimal('28.3'), Decimal('18.9')],
 [1942, Decimal('166.0'), Decimal('1771.8'), Decimal('22.4'), Decimal('17.0')],
 [1943, Decimal('203.1'), Decimal('2073.7'), Decimal('10.5'), Decimal('8.0')],
 [1944, Decimal('224.6'), Decimal('2239.4'), Decimal('1.6'), Decimal('-1.0')],
 [1945,
  Decimal('228.2'),
  Decimal('2217.8'),
  Decimal('-0.2'),
  Decimal('-11.6')],
 [1946, Decimal('227.8'), Decimal('1960.9'), Decimal('9.7'), Decimal('-1.1')],
 [1947, Decimal('249.9'), Decimal('1939.4'), Decimal('9.9'), Decimal('4.1')],
 [1948, Decimal('274.8'), Decimal('2020.0'), Decimal('-0.7'), Decimal('-0.5')],
 [1949, Decimal('272.8'), Decimal('2008.9'), Decimal('10.0'), Decimal('8.7')],
 [1950, Decimal('300.2'), Decimal('2184.0'), Decimal('15.7'), Decimal('8.1')],
 [1951, Decimal('347.3'), Decimal('2360.0'), Decimal('5.9'), Decimal('4.1')],
 [1952, Decimal('367.7'), Decimal('2456.1'), Decimal('6.0'), Decimal('4.7')],
 [1953, Decimal('389.7'), Decimal('2571.4'), Decimal('0.4'), Decimal('-0.6')],
 [1954, Decimal('391.1'), Decimal('2556.9'), Decimal('9.0'), Decimal('7.1')],
 [1955, Decimal('426.2'), Decimal('2739.0'), Decimal('5.6'), Decimal('2.1')],
 [1956, Decimal('450.1'), Decimal('2797.4'), Decimal('5.5'), Decimal('2.1')],
 [1957, Decimal('474.9'), Decimal('2856.3'), Decimal('1.5'), Decimal('-0.7')],
 [1958, Decimal('482.0'), Decimal('2835.3'), Decimal('8.4'), Decimal('6.9')],
 [1959, Decimal('522.5'), Decimal('3031.0'), Decimal('4.0'), Decimal('2.6')],
 [1960, Decimal('543.3'), Decimal('3108.7'), Decimal('3.7'), Decimal('2.6')],
 [1961, Decimal('563.3'), Decimal('3188.1'), Decimal('7.4'), Decimal('6.1')],
 [1962, Decimal('605.1'), Decimal('3383.1'), Decimal('5.5'), Decimal('4.4')],
 [1963, Decimal('638.6'), Decimal('3530.4'), Decimal('7.4'), Decimal('5.8')],
 [1964, Decimal('685.8'), Decimal('3734.0'), Decimal('8.4'), Decimal('6.5')],
 [1965, Decimal('743.7'), Decimal('3976.7'), Decimal('9.6'), Decimal('6.6')],
 [1966, Decimal('815.0'), Decimal('4238.9'), Decimal('5.7'), Decimal('2.7')],
 [1967, Decimal('861.7'), Decimal('4355.2'), Decimal('9.4'), Decimal('4.9')],
 [1968, Decimal('942.5'), Decimal('4569.0'), Decimal('8.2'), Decimal('3.1')],
 [1969, Decimal('1019.9'), Decimal('4712.5'), Decimal('5.5'), Decimal('0.2')],
 [1970, Decimal('1075.9'), Decimal('4722.0'), Decimal('8.5'), Decimal('3.3')],
 [1971, Decimal('1167.8'), Decimal('4877.6'), Decimal('9.8'), Decimal('5.2')],
 [1972, Decimal('1282.4'), Decimal('5134.3'), Decimal('11.4'), Decimal('5.6')],
 [1973, Decimal('1428.5'), Decimal('5424.1'), Decimal('8.4'), Decimal('-0.5')],
 [1974, Decimal('1548.8'), Decimal('5396.0'), Decimal('9.0'), Decimal('-0.2')],
 [1975, Decimal('1688.9'), Decimal('5385.4'), Decimal('11.2'), Decimal('5.4')],
 [1976, Decimal('1877.6'), Decimal('5675.4'), Decimal('11.1'), Decimal('4.6')],
 [1977, Decimal('2086.0'), Decimal('5937.0'), Decimal('13.0'), Decimal('5.6')],
 [1978, Decimal('2356.6'), Decimal('6267.2'), Decimal('11.7'), Decimal('3.2')],
 [1979, Decimal('2632.1'), Decimal('6466.2'), Decimal('8.8'), Decimal('-0.2')],
 [1980, Decimal('2862.5'), Decimal('6450.4'), Decimal('12.2'), Decimal('2.6')],
 [1981, Decimal('3211.0'), Decimal('6617.7'), Decimal('4.2'), Decimal('-1.9')],
 [1982, Decimal('3345.0'), Decimal('6491.3'), Decimal('8.8'), Decimal('4.6')],
 [1983, Decimal('3638.1'), Decimal('6792.0'), Decimal('11.1'), Decimal('7.3')],
 [1984, Decimal('4040.7'), Decimal('7285.0'), Decimal('7.6'), Decimal('4.2')],
 [1985, Decimal('4346.7'), Decimal('7593.8'), Decimal('5.6'), Decimal('3.5')],
 [1986, Decimal('4590.2'), Decimal('7860.5'), Decimal('6.1'), Decimal('3.5')],
 [1987, Decimal('4870.2'), Decimal('8132.6'), Decimal('7.9'), Decimal('4.2')],
 [1988, Decimal('5252.6'), Decimal('8474.5'), Decimal('7.7'), Decimal('3.7')],
 [1989, Decimal('5657.7'), Decimal('8786.4'), Decimal('5.7'), Decimal('1.9')],
 [1990, Decimal('5979.6'), Decimal('8955.0'), Decimal('3.3'), Decimal('-0.1')],
 [1991, Decimal('6174.0'), Decimal('8948.4'), Decimal('5.9'), Decimal('3.6')],
 [1992, Decimal('6539.3'), Decimal('9266.6'), Decimal('5.2'), Decimal('2.7')],
 [1993, Decimal('6878.7'), Decimal('9521.0'), Decimal('6.3'), Decimal('4.0')],
 [1994, Decimal('7308.8'), Decimal('9905.4'), Decimal('4.9'), Decimal('2.7')],
 [1995, Decimal('7664.1'), Decimal('10174.8'), Decimal('5.7'), Decimal('3.8')],
 [1996, Decimal('8100.2'), Decimal('10561.0'), Decimal('6.3'), Decimal('4.5')],
 [1997, Decimal('8608.5'), Decimal('11034.9'), Decimal('5.6'), Decimal('4.5')],
 [1998, Decimal('9089.2'), Decimal('11525.9'), Decimal('6.3'), Decimal('4.7')],
 [1999, Decimal('9660.6'), Decimal('12065.9'), Decimal('6.5'), Decimal('4.1')],
 [2000,
  Decimal('10284.8'),
  Decimal('12559.7'),
  Decimal('3.3'),
  Decimal('1.0')],
 [2001,
  Decimal('10621.8'),
  Decimal('12682.2'),
  Decimal('3.3'),
  Decimal('1.8')],
 [2002,
  Decimal('10977.5'),
  Decimal('12908.8'),
  Decimal('4.9'),
  Decimal('2.8')],
 [2003,
  Decimal('11510.7'),
  Decimal('13271.1'),
  Decimal('6.6'),
  Decimal('3.8')],
 [2004,
  Decimal('12274.9'),
  Decimal('13773.5'),
  Decimal('6.7'),
  Decimal('3.3')],
 [2005,
  Decimal('13093.7'),
  Decimal('14234.2'),
  Decimal('5.8'),
  Decimal('2.7')],
 [2006,
  Decimal('13855.9'),
  Decimal('14613.8'),
  Decimal('4.5'),
  Decimal('1.8')],
 [2007,
  Decimal('14477.6'),
  Decimal('14873.7'),
  Decimal('1.7'),
  Decimal('-0.3')],
 [2008,
  Decimal('14718.6'),
  Decimal('14830.4'),
  Decimal('-2.0'),
  Decimal('-2.8')],
 [2009,
  Decimal('14418.7'),
  Decimal('14418.7'),
  Decimal('3.8'),
  Decimal('2.5')],
 [2010,
  Decimal('14964.4'),
  Decimal('14783.8'),
  Decimal('3.7'),
  Decimal('1.6')],
 [2011,
  Decimal('15517.9'),
  Decimal('15020.6'),
  Decimal('4.1'),
  Decimal('2.2')],
 [2012,
  Decimal('16155.3'),
  Decimal('15354.6'),
  Decimal('3.3'),
  Decimal('1.7')],
 [2013,
  Decimal('16691.5'),
  Decimal('15612.2'),
  Decimal('4.4'),
  Decimal('2.6')],
 [2014,
  Decimal('17427.6'),
  Decimal('16013.3'),
  Decimal('4.0'),
  Decimal('2.9')],
 [2015,
  Decimal('18120.7'),
  Decimal('16471.5'),
  Decimal('2.8'),
  Decimal('1.5')]]

In [58]:
gdp_file = 'gps.csv'
with open(gdp_file, 'w') as csvfile:

    # Print the datatype of the file object
    #print(type(gdp))

    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvwriter = csv.writer(csvfile, delimiter=',')
    csvwriter.writerows(resource_list)

In [ ]:
for resource_list = []
    row in